## Data types and type conversion

In [1]:
# Data types are int, float, str
age = 47
print (type(age))

<class 'int'>

In [2]:
age = "Forty Seven"
print (type(age))

<class 'str'>

In [3]:
# Type of a variable dictates what you can do with and to it

In [4]:
print (5 - 2)

3

In [5]:
print (5 + 2)

7

In [6]:
print ("5" + "2")

52

In [7]:
print ("5" - "2")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
print ("5" * 10)

5555555555

In [9]:
print (5 * 10)

50

In [10]:
print ("5" * "10")

TypeError: can't multiply sequence by non-int of type 'str'

### Strings and numbers

In [11]:
full_name = "Alison Smith"

In [12]:
print (len(full_name))

12

In [13]:
age = 47

In [14]:
print (len(age))

TypeError: object of type 'int' has no len()

### We can convert between data types

In [15]:
print (1 + "A")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
print (1 + int("2"))

3

In [17]:
print (str(1) + '2')

12

### Integers and floats

In [18]:
print ('Half is', 1/2)

Half is 0.5

In [19]:
print ("Three squared", 3 ** 2)

Three squared 9

In [20]:
print ("Three squared", 3.0 ** 2)

Three squared 9.0